body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background2.avif') no-repeat center center fixed;
    background-size: cover;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background: rgba(8, 19, 237, 0.6);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    color: #fff;
    text-align: center;
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .login-btn {
    background: #f40837;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background: #c5c803;
  }
  
  .forgot-password a {
    color: #fff;
    text-decoration: none;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  